@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

body { 
  font-family: 'Fjalla One', sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 1%;
  text-align: center;
}

#dataBoard {
  border-left: 6px solid #F09020;
	margin: auto;
	background-color: rgba(225, 225, 225, 0.8);
	display: block;
	border-radius: 5px;
	height: 90%;
	width: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 1000px;
}

#dataBox {
  overflow: hidden;
}

#searchBox {
	display: block;
	background-color: white;
	min-height: 40px;
	width: 100%;
  overflow: hidden;
  height: 40px;
  padding-left:10px;
}

button {
  color: white;
  display: block;
  background: black;
  border: 2px solid white;
  float: right;
    width: 30%;
  min-height: 40px;
}

button:hover {
  opacity: 0.5;
  color:#F09020;
  border-color:#F09020;
}

input {
  display: block;
  float: left;
  background: transparent;
  border-style: none;
  min-height: 40px;
  width: 69%;  
}

#mainInfo {
  background-color: #C9C9C9;
  padding: 20px;
  text-align: left;
}

img {  
  border-style: none;
}